* {
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
}
body {
  background-color: #e9ecf5;
}

.title {
  padding: 50px 0;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.content-container {
  max-width: 1220px;
  width: 100%;
}

table {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-spacing: 5px;
  margin-bottom: 50px;
}

th,
td:first-child {
  padding: 25px;
  background-color: #a3c3d9;
  font-weight: bold;
}

th {
  text-transform: uppercase;
}

td {
  padding: 25px;
}

tr {
  background-color: #ccd6eb;
}

.marking,
.number {
  width: 100px;
}

.input-text {
  width: 260px;
  height: 30px;
  background-color: white;
}

input {
  border: 0;
  outline: none;
  margin-right: 10px;
}

textarea {
  padding: 10px;
  width: 250px;
  outline: none;
  border: 0;
}

button {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  background-color: #fc0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  border: 0;
}

button:hover {
  background: #a3c3d9;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

audio {
  outline: none;
  border: 0;
}
